/*Imports*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/*Nav Bar Formatting*/
    .nav-bar {
        background-color: black;
        width: 99.99%;
        height: fit-content;
        padding: 1%;
        margin: auto;
        position: fixed;
        top: 0%;
        z-index: 10;
       
        overflow: none;
    }
   .nav-bar a {
        color: white;
        padding: 1%;
        margin: auto;
        font-size: 1em;
    }

    .nav-bar li {
        list-style: none;
        display: inline-block;
        width: auto;
        padding: 0%;
        margin: 0% 1% 0% 0%;
    }
   
    
/*End of Nav Bar*/
/*Footer*/
    
    footer {
        padding: 5%;
        background-color: black;
        color: white;
        margin-top: 5%;
    }
       
   
   footer li {
        text-align: right;
        list-style: none;
        color: white;
        line-height: 1.5;
   }
   footer a {
        color: white;
        
   }
 


/*Divs*/
    div {
    position: relative;
    top: 15%;
    margin: 5%;
    text-align: center;
    margin: auto;
}
/* Headers */
* {
    font-family: "IBM Plex Sans";
    margin: auto;
}
h1 {
    font-size: 2.25em;
    margin: 5%;
    padding-bottom: 1.5%;
    font-weight: 700;
}
h2 {
    text-align: center;
    margin: 4%;
    font-size: 2em;
    padding-bottom: 4%;
    font-weight: 600;
}
h3 {
    text-align: center;
    margin: 5%;
    font-size: 1.75em;
}
h4 {
    text-align: center;
    margin: 5%;
    font-size: 1.2em;
    
}

/*Homepage*/
    /*Landing View*/
        #landing-view {
            position: relative;
            text-align: center;
            margin: 0%;
            background-color: lightgray;
            width: 80%;
            padding: 10%;
        }
          
        #landing-view p {
            margin: 0 auto;
            width: 75%;
            text-align: justify;
        }
   
    /*Project Preview*/
        .project-card {
            display: inline-block;
            width: 28%;
            border: none;
            background-color: black;
            border-width: 1%;
            border-radius: 1.25em;
            margin: auto;
            text-align: center;
            padding: 1%;
            position: relative;
            top: 10%;
            color: white;
            font-size: 0.9em;
            line-height: 1.35;
            letter-spacing: 5;
            height: fit-content;
            
            
        }
        div .project-card {
            margin: 0.5%;
        }
        #projects-preview-homepage {
            padding: 1.5%;
            width: 85%;
        }
        .project-card img {
            width: 94%;
            height: 250px;
            border-radius: 1em;
            padding: 2%;
        }
        .project-card p {
            text-align: justify;
            overflow: none;
            margin: auto;
            padding: 5%;
            font-style: bold;
            width: 85%;
        }
        button {
            width: 50%;
            border: none;
            border-radius: 1em;
            padding: 2%;
            margin: 4%;
            background-color: hotpink;
            color: white;
            font-style: bold;

        }
        
/*End of Homepage*/
/*About Page:*/
    
/*End of About Page*/
