/*Imports*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: "Poppins";
}

/*Recurring features*/

span {
    background: linear-gradient(to right, hsl(302, 100%, 66%), #3ec5ff);
    background-clip: text;
    color: transparent;
}
section{
    width: 100%; 
}
::-webkit-scrolbar {
    background: linear-gradient(to bottom, hsl(302, 100%, 66%), hsl(198, 100%, 62%));
}

/*Buttons and Interactivity*/

.btn{
    padding: 0.5em 1em;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 0.5em;
    font-size: 1.1em;
    border: 2px solid white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.btn:hover{
    background-color: white;
}
/*Media Screening for Nav Bar*/
@media screen and (max-width: 900px) {
    nav ul {
        display: none;
    }
}
@media screen and (max-width: 900px) {
    .nav-contact-btn {
        display: none;
    }
}
@media screen and (min-width: 899px) {
    #menu {
        display: none;
    }
}
/*Media Screening for Text Size on Info Box*/
@media screen and (max-width: 600px) {
    .info-box h1 {
        font-size: 1.5em;
        line-height: 1.15;
    }    
    .info-box h3 {
        font-size: 1.15em;
    }  
    .info-box p {
        font-size: 0.75em;
    } 
    nav {
        height: fit-content;
    }
}
@media screen and (min-width: 1100px) {
    .info-box h1: {
        padding-top: 4vh;
    }
}
    
/*Nav Bar + Contained Elements */
.logo{
    font-size: 2em;
    color: white;
    font-weight: 800;
    opacity: 0.8;
    transition: 0.2s ease-in-out;
}
.logo:hover{
    opacity: 1;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2em 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(15,15,15,0.8);
    backdrop-filter: blur(10px);
    z-index: 1000;
    height: 10vh;
}
ul{
display: flex;
align-items: center;
gap: 4em;
}
nav ul a{
color: white;
opacity: 0.7;
transition: 0.2s ease-in-out;
}
nav ul a:hover{
opacity: 1;
}
#menu{
    color: white;
    font-size: 3em;
}

/*First Section on Homepage*/

#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    color: white;
    background-color: black;
}
.info-box img{
    width: 20vw;
    border-radius: 50%;
    margin-top: 3em;
}
.info-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 0.5em;
    padding: 10%;
    position: relative;
    top: 0;
}
.info-box h1{
    font-size: 2.75em;
    font-weight: 500;
    padding: 3%;
    padding-top: 8vh;
}
.info-box h3{
    font-size: 1.5em;
    font-weight: 400;
    padding: 2%;
    padding-top: 1vh;
    padding-bottom: 2vh;
}
.info-box img{
    width: 15vw;
    border-radius: 50%;
    margin-top: 0%;
}
.info-box p{
    opacity: 0.7;
    font-weight: 225;
    width: 80%;
    margin: 2vh;
    max-width: 70%;
    font-size: 1em;
    padding: 1%;
}
.btn-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin: 5%;    
}
.btn-box .btn:nth-of-type(2){
    background-color: white;
    color: black;
}
.btn-box .btn:nth-of-type(2):hover{
    background-color: black;
    color: white;
}
.btn-box .btn:nth-of-type(1):hover{
    background-color: linear-gradient(to right, hsl(302, 100%, 66%), #3ec5ff);
    color: black;
}    
/*Second Section of Homepage*/ 
.project-card {
    display: inline-block;
    width: 28%;
    border: none;
    background-color: black;
    border-width: 1%;
    border-radius: 1.25em;
    margin: auto;
    text-align: center;
    padding: 1%;
    position: relative;
    top: 10%;
    color: white;
    font-size: 0.9em;
    line-height: 1.35;
    letter-spacing: 5;
    height: fit-content;
}
div .project-card {
    margin: 0.5%;
}
.project-card img {
    width: 94%;
    height: 250px;
    border-radius: 1em;
    padding: 2%;
}
.project-card p {
    text-align: justify;
    overflow: none;
    margin: auto;
    padding: 5%;
    font-style: bold;
    width: 85%;
}
/*Footer*/
footer {
    padding: 5%;
    background-color: black;
    color: white;
    margin-top: 5%;
}
footer li {
    text-align: right;
    list-style: none;
    color: white;
    line-height: 1.5;
}
footer a {
    color: white;   
}
body {
min-height: 200vh;
}

    